* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}
main{
    padding: 36px;
}

.top--head{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    align-items: center;
    padding: 20px;
    color:#FFFFFF;
    height: 85px;
}
.top--head > h1 {
    font-size: 1.85rem;
    margin-right: auto;
}
.top--head > h3 {
    font-size: .75rem;
}
.an--trol{
    height: 120%;
    margin-right: 6px;
}



.body--full{
    display:grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}
.input--fields{
   border-radius: 5px;

}


.body--full > button {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    grid-column: 1 / -1;

}